:root{
    --color-primary: #F2D43D;
    --color-secondary: #F2E18D;
    --color-accent: #00d9ff;
    --color-headings: #0D0D0D;
    --color-body: #0D0D0D;
    --color-body-darker: #F2F2F2;
    --color-border: #ccc;
    --border-radius: 30px;
}

*, *::after, *::before {
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
}
body{

    font-family: 'Roboto Mono', monospace, Arial, Helvetica, sans-serif;
    color: var(--color-body); 
    font-size: 2.4rem;
    line-height: 1.5;
    margin: 0;
} 
h1, h2, h3 {
    color: var(--color-headings);
    margin-bottom: 1rem;
    line-height: 1.1;
}

h1{
    font-size: 5rem;
}
h2{
    font-size: 4rem;
}
h3{
    font-size: 3rem;
    font-weight: 500;
}
p{
    margin-top: 0;
}
@media screen and (min-width: 1024px) {
    body{
        font-size: 1.8rem;
    }
    h1{
        font-size: 6rem;
    }
    h2{
        font-size: 4rem;
    }
    h3{
        font-size: 2.4rem;
    }
    
}
/*LINKS*/

a {
    text-decoration: none;
}
.link-arrow{
    color: var(--color-accent);
    text-transform: uppercase;
    font-size: 2rem;
    font-weight: bold;

}
.link-arrow:hover{
    margin-left: 10px;
    transition: margin 0.5s;
}
@media screen and (min-width: 1024px) {
    .link-arrow{
        font-size: 1.5rem;
    }
}

/*ICONS*/

.icon{
    width: 40px;
    height: 40px;
}
.icon--small{
    width: 30px;
    height: 30px;
}
.icon--primary{
    fill: var(--color-primary);
}
.icon--white{
    fill: #fff;
}

.icon-container{
    width: 64px;
    height: 64px;
    border-radius: 100%;
    background-color: #f3f9fa;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}
.icon-container--accent{
    background-color: var(--color-accent);
    
}

/*BUTTONS*/

.boton{
    border-radius: 40px;
    border: 0;
    cursor: pointer;
    font-size: 1.8rem;
    margin: 1rem 0;
    padding: 2rem 4vw;
    text-transform: uppercase;    
    white-space: nowrap;
    text-align: center;
}
.boton .icon{
    width: 2rem;
    height: 2rem;
    margin-right: 1rem;
    vertical-align: middle;
}

.boton--primary{
    background: var(--color-primary);
    color: #000;
    font-weight: 700;
    letter-spacing: 2px;
}
.boton--primary:hover{
    background: #3a8ffd;
    transition: .5s;
}
.boton--secondary{
    background: var(--color-secondary);
    color: #fff;
}
.boton--secondary:hover{
    background: #00c8eb;
}
.boton--accent{
    background: var(--color-accent);
    color: #fff;
}
.boton--accent:hover{
    background: #ec3000;
}
.boton--streched{
    padding-left: 6rem;
    padding-right: 6rem;
}
.boton--block{
    width: 100%;
    display: inline-block;
}
.boton--outline{
    background: #fff;
    color: var(--color-headings);
    border: 2px solid var(--color-headings);
}
.boton--outline:hover{
    background: var(--color-headings);
    color: #fff
}
@media screen and (min-width: 1024px){
    .boton{
        font-size: 1.5rem;
    }
}
/*LISTS*/

.list{
    list-style: none;
    padding-left: 0;
   
}

/*CARD*/

.card {
    margin: 5rem;
    border-radius: 7px;
    box-shadow: 0 0 20px 10px #f3f3f3;
    overflow: hidden; /*para que me conserve las propiedadesdel contenedor padre*/
}

/*NAVIGATION BAR*/

.nav{
    background: #000;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0 1rem;
    align-items: center;
}
.nav__list{
    width: 100%;
    margin: 0;
   
}
.nav__item{
    padding: 1rem 2rem;
    border-bottom: 1px solid #222;
}
.nav__item > a{
    color: #d2d0db;
    transition: color 0.3s;
}
.nav__item > a:hover{
    color: #fff;
}
.nav--toggler{
    opacity: 0.5;
    transition: box-shadow 0.15s;
    cursor: pointer;
}
.nav.collapsible--expanded .nav--toggler{
    opacity: 1;
   
}
.collapsible__content{
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    transition: all 0.3s;
}
.collapsible--expanded .collapsible__content{
    max-height: 100vh;
    opacity: 1;
}

.nav__brand{
    transform: translateY(5px);
}
@media screen and (min-width: 768px) {
    .nav--toggler{
        display: none;
    }
    .nav__list{
        width: auto;
        display: flex;
        font-size: 1.6rem;
        max-height: 100%;
        opacity: 1;
    }
    .nav__item{
        border: 0;
    }
}

/*HERO CONTENT*/

.hero--contenedor{
    display: inline-block;
    text-align: center;
    border: 1px solid red;
    opacity: .8;
    letter-spacing: 1px;
    }
.hero__content-main{
    font-size: 2rem;
    margin: 0;
    
}
.hero__content{
    font-size: 1.3rem;
}
@media screen and (min-width: 768px) {
    
    .hero__content-main{
        font-size: 2.5rem;
        
        
    }
    .hero__content{
        font-size: 1.5rem;
    }
}

/*GRID*/

.grid{
    display: grid;
    gap: 5rem;
    align-self: center;
    align-items: center;
}

@media screen and (min-width: 768px) {
    .grid--1x2{
        grid-template-columns: repeat(2, 1fr);
    }
    .grid--1x3{
        grid-template-columns: repeat(3, 1fr);
    }
}

/*PROFILE IMAGE*/


.imagen--perfil{
    width: 100%;
    max-width: 400px;
    border-radius: 100%;
    padding: 2rem;
    margin: 0 auto;
}

/*PROFILE TEXT*/

.quote__text {
    padding: 2rem;
    margin: 0;
}

/*HABILIDADES*/

.habilities__header{
    width: fit-content;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5rem;
    border-radius: 7px;
    box-shadow: 0 0 20px 10px #f3f3f3;
}
.habilities__text{
    margin: 0.5rem 1rem;
}
/*HABILIDADES CONTENT*/

.abilities--container { 
    display: flex;
    justify-content: space-evenly;
}
.abilities--container .icon {
    width: 60px;
    height: 60px;
}

/*BLOCK*/


.block--skewed-right{
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 95%);
    padding-bottom: calc( var(--padding-vertical) + 4rem);
}
.block--skewed-left{
    clip-path: polygon(0% 0%, 100% 0%, 100% 95%, 0% 100%);
    padding-bottom: calc( var(--padding-vertical) + 4rem);
}
.block__header{
    text-align: center;
    margin-bottom: 4rem;
}

.container{
    max-width: 1140px;
    margin: 0 auto;
}

/*PORTAFOLIO*/

.webssites--container{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin: 1rem;
}
a img{
width: 100%;
max-width: 400px;
}
.link--websites{
    padding: 1rem;
}
@media screen and (min-width: 768px) {
    .webssites--container{
    flex-direction: row;
}
}

/*FORMULARIO*/

.formulario{
    display: flex;
    flex-direction: column;
    border: 0;
}
.legenda{
    text-align: center;
    margin-left: 1rem ;
}
.form__input{
    padding: 1rem;
    margin: 1rem;
    border-radius: 7px;
    border: 0;
    box-shadow: 0 0 10px 1px lightgrey;
    font-family: 'Roboto Mono', monospace, Arial, Helvetica, sans-serif;
    font-size: 1.3rem;
    outline: none;

}
.form--image{
    display: none;
}
@media screen and (min-width: 768px) {
    .formulario{
     max-width: 600px;
    }
    .form--image{
        display: flex;
        max-width: 670px;
        border-radius: 7px;
    }
    .form--container{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        padding: 4rem;
        background: #faf9fa;
    }
    .legenda{
        color: #000;
    }

}
