<div class="abilities--container">
  <a href="#"
    ><span class="icon--container">
      <svg class="icon icon--primary">
        <use xlink:href="./images/sprite-icons.svg#html5"></use>
      </svg> </span
  ></a>
  <a href="#">
    <span class="icon--container">
      <svg class="icon icon--primary">
        <use xlink:href="./images/sprite-icons.svg#css3"></use>
      </svg>
    </span>
  </a>
  <a href="#">
    <span class="icon--container">
      <svg class="icon icon--primary">
        <use xlink:href="./images/sprite-icons.svg#javascript"></use>
      </svg>
    </span>
  </a>
  <a href="#">
    <span class="icon--container">
      <svg class="icon icon--primary">
        <use xlink:href="./images/sprite-icons.svg#git"></use>
      </svg>
    </span>
  </a>
</div>
