<div class="form--container">
  <img class="form--image" src="./images/codigo.jpg" alt="" />
  <form action="post">
    <fieldset class="formulario">
      <legend class="legenda">Contactame</legend>
      <input
        class="form__input"
        type="text"
        name="Nombre"
        placeholder="Nombre"
      />
      <input
        class="form__input"
        type="email"
        name="num"
        id="email"
        placeholder="Email"
      />
      <input
        class="form__input"
        type="tel "
        name="telefono"
        id="telefono"
        placeholder="Teléfono"
      />

      <textarea
        class="form__input"
        name="mensaje"
        id=""
        cols="30"
        rows="10"
        placeholder="Escribe tu mensaje"
      ></textarea>
      <input
        class="form__input boton boton--primary"
        type="submit"
        value="Enviar"
        onclick="alert('Tu información ha sido enviada')"
      />
    </fieldset>
  </form>
</div>
