<footer>
  <div class="footer--container">
    <a href="">
      <span class="icon-container">
        <svg class="icon icon--primary">
          <use xlink:href="./images/sprite-dos.svg#github"></use>
        </svg>
      </span>
    </a>
    <a href="">
      <span class="icon-container">
        <svg class="icon icon--primary">
          <use xlink:href="./images/sprite-dos.svg#linkedin"></use>
        </svg>
      </span>
    </a>
  </div>
  <p class="footer__text">Juan Montes - Todos los derechos reservados 2022</p>
</footer>
