<section class="hero--section">
  <div class="hero--container">
    <div
      id="carouselExampleSlidesOnly"
      class="carousel slide"
      data-bs-ride="carousel"
    >
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="./images/slide-uno.jpg" class="d-block w-100" alt="..." />
        </div>
        <div class="carousel-item">
          <img src="./images/slide-dos.jpg" class="d-block w-100" alt="..." />
        </div>
        <div class="carousel-item">
          <img src="./images/slide-tres.jpg" class="d-block w-100" alt="..." />
        </div>
      </div>
    </div>
  </div>
  <figcaption>
    <p class="fig-text">Junior Front End Developer</p>
  </figcaption>
</section>
