<nav class="nav collapsible">
  <a class="nav__brand" href="/"><img src="./images/tama.png" alt="" /></a>
  <svg class="icon icon--white nav--toggler">
    <use xlink:href="images/sprite-icons.svg#codepen"></use>
  </svg>
  <ul class="list nav__list collapsible__content">
    <li class="nav__item"><a href="#">Perfil</a></li>
    <li class="nav__item"><a href="#">Habilidades</a></li>
    <li class="nav__item"><a href="#">Portafolio</a></li>
    <li class="nav__item"><a href="#">Contacto</a></li>
  </ul>
</nav>
