<div class="habilities__header">
  <h4 class="habilities__text">Portafolio</h4>
</div>
<section class="projects--section">
  <div class="carta grid--1x2 card--container">
    <img src="./images/screen-vinciatti.png" alt="" />
    <div>
      <p class="header--text-dark header--text-pro">Vinciatti Gelateria</p>
      <p class="card--text">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis
        provident inventore consequuntur dicta deleniti quia quasi iste nobis
        doloremque praesentium!
      </p>
      <a href="https://vinciatti-gelateria.000webhostapp.com/"
        >https://vinciatti-gelateria.000webhostapp.com/</a
      >
      <a href="https://github.com/juancmontes13/Vinciatti-Tercero"
        ><svg class="icon icon--primary icon--card">
          <use xlink:href="./images/sprite-dos.svg#github"></use>
        </svg>
      </a>
    </div>
  </div>
  <div class="carta grid--1x2 card--container">
    <img src="./images/screen.moshy.png" alt="" />
    <div>
      <p class="header--text-dark header--text-pro">Moshy</p>
      <p class="card--text">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis
        provident inventore consequuntur dicta deleniti quia quasi iste nobis
        doloremque praesentium!
      </p>
      <a href="https://sammyfied.netlify.app/"
        >https://sammyfied.netlify.app/</a
      >
      <a href="https://github.com/juancmontes13/Vinciatti-Tercero"
        ><svg class="icon icon--primary icon--card">
          <use xlink:href="./images/sprite-dos.svg#github"></use>
        </svg>
      </a>
    </div>
  </div>
</section>
