<div class="card testimonial">
  <div class="grid grid--1x2">
    <img class="imagen--perfil" src="./images/yo.png" alt="" />
    <article>
      <h2 class="quote__text">PERFIL</h2>
      <p class="quote__text">
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ex cumque ad
        pariatur quia porro voluptates. Aliquid molestiae illo ipsum quis
        ducimus repudiandae asperiores quaerat non, obcaecati exercitationem,
        rerum numquam odit cupiditate suscipit at voluptas. Repudiandae,
        inventore perspiciatis praesentium debitis et quia. Fuga veniam dicta
        nam officiis saepe accusantium sed delectus!
      </p>
    </article>
  </div>
</div>
